html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
}

.header{
     background-color:#f5f5f5;   
}

.header-left a {
	text-decoration: none;
	color: #0d69d8;
	font-size: 25px;
	line-height: 76px;
}
.header-right-menu{
    text-align: center;
}
.header-right-menu ul{
    margin-bottom: 0;
}
.header-right-menu ul li{
    display: inline-block;
}
.header-right-menu ul li a {
	text-decoration: none;
	padding: 0px 20px;
	color: #0d69d8;
	display: block;
	line-height: 76px;
}
/* Banner Section */

.banner{
    background-image: url(https://i.ibb.co/RBRb6LR/178934873-455404502228845-6544367562530705105-n.jpg);
    padding: 320px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}
.banner-text{
    color: #fff;
}

.font-paragraph{
    font-size: 20px;
}
.footer{
    background-color:#0062d3;
    color: #fff;
    margin-top: -45px;  
}
.footer p{
    padding: 25px;
}